body{
  margin: 0 auto;
  padding: 0;
  background: #fafafa;
  font-family: "Mplus 1p", serif;
  min-width:100%;
  min-height:100%;
  }

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
 @keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }
header{
  background: #123456;
  color:#fafafa;
}
/*-----input-----*/
#wrap{
  display: flex;
  margin: 0 20px;
  padding: 0;
}
#navigation{
  width:398px;
}
#navigation input#tasktitle{
  width:320px; 
  height:32px;
}
#navigation input.taskinput{
  width:95px;
  border: solid 1px #aaaaaa;
  border-radius: 2px;
  box-shadow: inset 1px 4px 8px -4px  rgba(20,20,20,0.25);
}
#navigation textarea#taskinfo{
  width:320px;
  height:96px;
}

#navigation input:hover,
#navigation input:focus,
#navigation textarea#taskinfo:hover,
#navigation textarea#taskinfo:focus
{
  border: solid 1px #abcdef;
}

/*-----task-----*/

#content{
  word-wrap: break-word;
}
#content h2{
  width:480px;
  height:40px;
  line-height: 40px;
  background: #abcdef;
}

#content ul{
  width:480px;
  margin: 0;
  padding: 0;
  border: solid 1px #aaaaaa;
  border-radius: 2px;
  list-style: none;
  overflow: hidden;
  }
#content ul li{
  margin: 0;
  padding: 0;
  background: #fafafa;
}
#content ul li:hover{
  background: #abcdef;
}
#content ul li h3{
  font-size: 20px;
  padding-left: 4px;
  color: #fafafa;
  background: #456789;
}
#content ul button.removecard{
  float: right;
  color:#fafafa;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 40px;
  height: 40px;
}
#content ul li h4{
  font-size: 18px;
}
#content ul li p{
  padding-left: 4px;
}
#content ul li p{
  padding-left: 4px;
}
#content ul.show{
	transition: 0.25s ease-in-out;
  max-height: 400px;
}

#content ul.hide{
	transition: 0.25s ease-in-out;
  max-height: 40px;
}
/*-----calendar-----*/
div#modalwrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:398px;
  width:398px;
  background:rgba(20,20,20,0.5);
  }
div#modalwrap.show{
  animation-duration: 0.5s;
  animation-name: fade-in;
}

div#modalwrap.hide{
  opacity: 0;
  display: none;
}
button#modalclose{
  position: absolute;
  color:#fafafa;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
}


div#calendarmodal{
  width: 239px;
  height: 265px;
  overflow: hidden;
  font-weight:700;
  box-shadow: 0 0 8px 4px rgba(20,20,20,0.25);
  background: #123456;
  
}
div#innerwrap{
  min-width: calc(239px*3);
  display: flex;
  justify-content: center;
  }
div#innerwrap.default{
  margin-left: -239px;
}
div#innerwrap.goodbye{
  margin-left: calc(-239px*2);
  transition: 250ms ease-in-out;
}

div#innerwrap.comeon{
  margin-left:0;
  transition: 250ms ease-in-out;
}

div#calendarwrap{
  min-width: 239px;
  min-height: 265px;
  }

div#labeldiv{
  height:48px;
  background: #123456;
  color: #fafafa;
  text-align: center;
  display: flex;
  align-items: center;
}
div#labeldiv span#yearandmonth{
  font-size: 24px;
}
div#labeldiv button{
  background-color: rgba(220,220,220,0.8);
  border: solid 1px rgba(20,20,20,0.25);
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 24px;
  height: 24px;
  color:#777777;
  border-radius: 12px;
}
div#labeldiv button:hover
button#modalclose:hover,{
  color:#fafafa;
  background-color: rgba(80,80,80,0.8);
  border: solid 1px rgba(20,20,20,0.8);
}
div#labeldiv button:active,
button#modalclose:active{
  color:#777777;
  background-color: rgba(160,160,160,0.25);
  border: none;
}
div#labeldiv button#prevbutton{
  margin-right: auto
}
div#labeldiv button#nextbutton{
  margin-left: auto
}

table#calendar{
  border-spacing: 0;
  text-align: center;
  vertical-align: middle;
  background: #ddeeff;
  table-layout: fixed;
  margin:0 auto;
}
table#calendar th,
table#calendar td{
  width:31px;
  height:31px;
  border-left:1px solid #123456;
  border-bottom:1px solid #123456;
}
table#calendar td.anothermonth{
  color: #999999;
}
table#calendar td.filled:hover{
  background-color: #777777 !important;
  color: #fafafa;
}
table#calendar td.filled:active{
  color: #feaabb ;
  background-color: #777777 !important;
}
table#calendar tr:first-child{
  background: #456789;
  color: #fafafa;
}
table#calendar th:first-child{
  color: #feaabb;
}
table#calendar th:last-child{
  color: #abcdef;
  border-right:1px solid #123456;
}
table#calendar td:first-child{
  background: #feaabb;
}
table#calendar td:last-child{
  background: #abcdef;
  border-right:1px solid #123456;
}


